/* Add a black background color to the top navigation bar */
body {
	background-color: #98e979;
}

.white-box {
    background-color: white;
    color: white;
		height: 400px;
		width: 450px;
		text-align: center;
		margin-top: 70px;
		margin-left: 200px;
}

.search {
	float: left;
	/*padding: 27vh 37vw;*/
	/*hacky way to solve spacing issues, placeholder*/
	padding: 1vh 37vw;
	min-height: 40vh;
	min-width: 24vw;
}

.seach .name{
	float: left;
	max-height: 15vh;
	min-width: 100%;
}

/* Style the search box inside the navigation bar */
.search #search {
	float: left;
	padding: 1vh;
	border: none;
	font-size: 90%;
	max-height: 15vh;
	min-width: 23vw;
	border: 1px outset grey;
	border-radius: 50px;
}

.search .button{
	margin: 1vh 35%;
	min-height: 3vh;
	min-width: 30%;
	font-size: 90%;
	border: 1px outset grey;
	border-radius: 50px;
	background-color: white;
}

#piechart{
  padding: 1vh 30vw;
}

table {
  display: block;
  position: relative;
  overflow: auto;
  background-color: #ffffff;
}

table .bar{
	background-color: #eaeaea;
	color: #eaeaea;
}

table .stats{
	float: left;
	margin: 0;
	padding: 0;
}

table .login {
  position: sticky;
  left: 0vw;
  z-index: 5;
  background-color: #ffffff;
  min-width: 10vw;
}

table .commit{
  position: sticky;
  left: 10vw;
  z-index: 4;
  background-color: #ffffff;
  min-width: 5vw;
}

th, td{
	min-width: 10vw;
}

.hover{
	display: none;
}

.stats:hover .hover{
	display: block;
	color: black;
	width: 3vw;
	background-color: inherit;
}
